In [1]:
setwd("~/IBM_Attrition_DataChallenge/")                             # sets proper working directory
dataframe <- read.csv(file='WA_Fn-UseC_-HR-Employee-Attrition.csv') # raw data is stored in variable 'dataframe'

We will now adjust the dataframe, mapping categorical integer columns to their correspondeing string labels.

In [2]:
suppressPackageStartupMessages(library(plyr))

# maps integer values using 
dataframe$Education <- mapvalues(dataframe$Education, from = c(1,2,3,4,5), 
                                 to = c('BeforeCollege', 'College', 'Bachelor', 'Master', 'Doctor'))
dataframe$EnvironmentSatisfaction <- mapvalues(dataframe$EnvironmentSatisfaction, from = c(1,2,3,4), 
                                 to = c('Low', 'Medium', 'High', 'VeryHigh'))
dataframe$JobInvolvement <- mapvalues(dataframe$JobInvolvement, from = c(1,2,3,4), 
                                 to = c('Low', 'Medium', 'High', 'VeryHigh'))
dataframe$JobSatisfaction <- mapvalues(dataframe$JobSatisfaction, from = c(1,2,3,4), 
                                 to = c('Low', 'Medium', 'High', 'VeryHigh'))
dataframe$RelationshipSatisfaction <- mapvalues(dataframe$RelationshipSatisfaction, from = c(1,2,3,4), 
                                 to = c('Low', 'Medium', 'High', 'VeryHigh'))
dataframe$PerformanceRating <- mapvalues(dataframe$PerformanceRating, from = c(1,2,3,4), 
                                 to = c('Low', 'Good', 'Excellent', 'Outstanding'))
dataframe$WorkLifeBalance <- mapvalues(dataframe$WorkLifeBalance, from = c(1,2,3,4), 
                                 to = c('Bad', 'Good', 'Better', 'Best'))

write.csv(dataframe, 'VisualizationData.csv')

head(dataframe)

The following `from` values were not present in `x`: 1, 2

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education     EducationField EmployeeCount EmployeeNumber ⋯
1 1                College       Life Sciences  1             1              ⋯
2 8                BeforeCollege Life Sciences  1             2              ⋯
3 2                College       Other          1             4              ⋯
4 3                Master        Life Sciences  1             5              ⋯
5 2                BeforeCollege Medical        1             7              ⋯
6 2                College       Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 Low                      80            0                 8
2 VeryHigh                 80            1                10
3 Medium                   80            0                 7
4 High                     80            0                 8
5 VeryHigh                 80            1                 6
6 High                     80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     Bad              6             4
2 3                     Better          10             7
3 3                     Better           0             0
4 3                     Better           8             7
5 3                     Better           2             2
6 2                     Good             7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6